body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

/*COLOR*/

.white-bg {
    background-color: white;
}

.grey-bg {
    background-color: #e5e5e5;
}

.light-blue-bg {
    background-color: #1b72e8;
}

.medium-blue-bg {
    background-color: #165bba;
}

.blue-bg {
    background-color: #051e34;
}

/*HEADER*/

header {
    height: 5rem;
}

/*NAV BAR*/

.fa.fa-search {
    top:15px;
    left: 15px;
}

.form-input{
    height: 2.5rem;
    text-indent: 2rem;
}

.form-input:focus{
    box-shadow: none;
    border:none;
}

/*MAIN CONTAINER*/

.main_container {
    padding-top: 75px;
}

.card_container {
    padding-left: 3.5rem;
}

/*SIDE BAR*/

.side_bar {
    width: 3.5rem;
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.side_bar li:hover {
    background-color: grey;
}

/*CONTAINER PROSSIME CLASSI*/

.icon_container {
    width: 30px;
    height: 30px;
}

/*TIPOGRAPHY*/

.button_plus {
    font-size: 50px;
}

/*MEDIA QUERY*/

@media (min-width: 1200px) {
    .side_bar {
        width: 9rem;
    } 
    .main_container {
        padding-top: 55px;
    }
    .card_container {
        padding-left: 9rem;
    }
    
    #offcanvasRight {
        width: 50%!important;
    }

}